@page "{name}"
@model PersonalAccounting.Pages.AddTransactionsModel
@{
    ViewData["Title"] = "Add Transactions";
}
@if (Model.Name == "transactions")
{

    <table class="body-table">
        <tr>
            <td colspan="2">
                <div class="title-background-add">
                    <h1 style="text-align: center">Add transactions</h1>
                </div>
            </td>
        </tr>
        <tr>
            <td class="currency-block" style="width: 70%">

                <form method="post">
                    <table class="center">
                        <tr>
                            <td class="form-1">
                                <label>Date</label>
                            </td>
                            <td class="form-2">
                                <input type="text" asp-for="Date" placeholder="@DateTime.Today.ToString("dd/MM/yyyy")" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-1">
                                <label>Amount</label>
                            </td>
                            <td class="form-2">
                                <input type="number" asp-for="Amount" placeholder="0.0" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-1">
                                <label>Currency</label>
                            </td>
                            <td class="form-2">
                                <input type="text" asp-for="Currency" placeholder="gbp, usd, eur, huf" />
                                <span asp-validation-for="Currency" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-1">
                                <label>Description</label>
                            </td>
                            <td class="form-2">
                                <textarea asp-for="Description" rows="1" maxlength="50"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center; padding-top: 20px">
                                <button class="btn button-currency" type="submit" name="submit" asp-route-name="transactions">Add</button>
                            </td>
                        </tr>
                    </table>
                </form>

            </td>
            <td class="currency-block" style="width: 30%">
                <table class="center" style="border-collapse: separate; border-spacing: 10px 15px;">
                    <tr>
                        <td class="current-balance">
                            Pound: £ @Model.GbpTotal
                        </td>
                    </tr>
                    <tr>
                        <td class="current-balance">
                            Forint: Ft @Model.HufTotal
                        </td>
                    </tr>
                    <tr style="margin-bottom: 15px">
                        <td class="current-balance">
                            Euro: € @Model.EurTotal
                        </td>
                    </tr>
                    <tr>
                        <td class="current-balance">
                            Us Dollar: $ @Model.UsdTotal
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="currency-block" style="width: 50%">
                <a asp-page="/AddTransactions" asp-route-name="stocks" style="color: black" class="btn">
                    <div class="button-currency div-padding" style="width: 200px;">Add Stocks</div>
                </a>
            </td>
            <td class="currency-block" style="width: 50%">
                <a asp-page="/Index" style="color: black" class="btn">
                    <div class="button-currency div-padding" style="width: 200px;">Back To Balance</div>
                </a>
            </td>
        </tr>
    </table>

}
//----------------STOCKS---------------STOCKS-----------------------STOCKS-------------------STOCKS--------------
else if (Model.Name == "stocks")
{
    
    <table class="body-table">
        <tr>
            <td colspan="2">
                <div class="title-background-add">
                    <h1 style="text-align: center">Add Stocks</h1>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="currency-block" style="width: 70%">

                <form method="post">
                    <table class="center" style="width: 80%">
                        <tr>
                            <td class="form-1" style="width: 50%">
                                <label>Date</label>
                            </td>
                            <td class="form-2" style="width: 50%">
                                <input type="text" asp-for="DateStock" placeholder="@DateTime.Today.ToString("dd/MM/yyyy")" />
                                <span asp-validation-for="DateStock" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-1" style="width: 50%">
                                <label>Name of stock</label>
                            </td>
                            <td class="form-2" style="width: 50%">
                                <input type="text" asp-for="NameStock" placeholder="NTFLX" />
                                <span asp-validation-for="NameStock" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-1" style="width: 50%">
                                <label>Amount</label>
                            </td>
                            <td class="form-2" style="width: 50%">
                                <input type="number" asp-for="AmountStock" placeholder="0.0" />
                                <span asp-validation-for="AmountStock" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-1" style="width: 50%">
                                <label>Buy or Sell</label>
                            </td>
                            <td class="form-2" style="width: 50%">
                                <input type="text" asp-for="BuySellStock" placeholder="buy/sell" />
                                <span asp-validation-for="BuySellStock" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-1" style="width: 50%">
                                <label>Description</label>
                            </td>
                            <td class="form-2" style="width: 50%">
                                <textarea asp-for="DescriptionStock" rows="1" maxlength="50"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center; padding-top: 20px">
                                <button class="btn button-currency" type="submit" name="submit" asp-route-name="stocks">Add</button>
                            </td>
                        </tr>
                    </table>
                </form>

            </td>
        </tr>
        <tr>
            <td class="currency-block" style="width: 50%">
                <a asp-page="/AddTransactions" asp-route-name="transactions" style="color: black" class="btn">
                    <div class="button-currency div-padding" style="width: 200px;">Add Transactions</div>
                </a>
            </td>
            <td class="currency-block" style="width: 50%">
                <a asp-page="/Index" style="color: black" class="btn">
                    <div class="button-currency div-padding" style="width: 200px;">Back To Balance</div>
                </a>
            </td>
        </tr>
    </table>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
