@page "{name}"
@model PersonalAccounting.Pages.CurrencyModel
@{
    ViewData["Title"] = "Transactions";
}

<div class="banner banner-small">
    @switch (Model.Currency)
    {
        case "eur":
            <h1 style="text-align: center">Euro</h1>
            break;
        case "gbp":
            <h1 style="text-align: center">Pound</h1>
            break;
        case "huf":
            <h1 style="text-align: center">Forint</h1>
            break;
        case "usd":
            <h1 style="text-align: center">US Dollar</h1>
            break;

    }
</div>
 

<div class="block table-block">
    <table class="center" style="width: 98%">
        <thead>
            <tr>
                <td class="table-border" style="width:20%">
                    Date
                </td>
                <td class="table-border" style="width: 20%">
                    @Model.Currency.ToUpper()
                </td>
                <td class="table-border" style="width: 30%">
                    Description
                </td>
                <td class="table-border" style="width: 30%">
                    Options
                </td>
            </tr>
        </thead>
        @switch (Model.Currency.ToLower())
        {
            case "eur":
                @foreach (var item in Model.Transactions)
                {
                    if (item.Eur != 0.0)
                    {
                        <tbody class="table-body">
                            <tr>
                                <td class="table-body" style="width: 20%">
                                    @item.Date
                                </td>
                                <td class="table-body" style="width: 20%">
                                    € @item.Eur
                                </td>
                                <td class="table-body" style="flex:1 0 30%">
                                    @item.Description
                                </td>
                                <td class="table-body" style="width: 30%">
                                    <form method="post">
                                        <a class="btn btn-sm btn-small" asp-page="/EditTransactions" asp-route-id="@item.ID">Edit</a>

                                        <input type="submit" value="Delete" class="btn btn-sm btn-danger " />
                                        <input type="hidden" name="ID" value="@item.ID" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>


                    }
                }
                <tfoot>
                    <tr>
                        <td class="table-border" style="width: 20%">
                            Total:
                        </td>
                        <td style="text-align: left; text-align: center">
                            € @Model.Total
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>


                break;
            case "huf":
                @foreach (var item in Model.Transactions)
                {
                    if (item.Huf != 0.0)
                    {
                        <tbody class="table-body">
                            <tr>
                                <td class="table-body" style="width: 20%">
                                    @item.Date
                                </td>
                                <td class="table-body" style="width: 20%">
                                    Ft @item.Huf
                                </td>
                                <td class="table-body" style="width: 30%">
                                    @item.Description
                                </td>
                                <td class="table-body" style="width: 30%">
                                    <form method="post">
                                        <a class="btn btn-sm btn-small" asp-page="/EditTransactions" asp-route-id="@item.ID">Edit</a>

                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                        <input type="hidden" name="ID" value="@item.ID" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>


                    }
                }
                <tfoot>
                    <tr>
                        <td class="table-border" style="width: 20%">
                            Total:
                        </td>
                        <td style="text-align: left; text-align:center">
                            Ft @Model.Total
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>
                break;
            case "gbp":
                @foreach (var item in Model.Transactions)
                {
                    if (item.Gbp != 0.0)
                    {
                        <tbody class="table-body">
                            <tr>
                                <td class="table-body" style="width: 20%">
                                    @item.Date
                                </td>
                                <td class="table-body" style="width: 20%">
                                    £ @item.Gbp
                                </td>
                                <td class="table-body" style="width: 30%">
                                    @item.Description
                                </td>
                                <td class="table-body" style="width: 30%">
                                    <form method="post">
                                        <a class="btn btn-sm btn-small" asp-page="/EditTransactions" asp-route-id="@item.ID">Edit</a>

                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                        <input type="hidden" name="ID" value="@item.ID" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>


                    }
                }
                <tfoot>
                    <tr>
                        <td class="table-border" style="width: 20%">
                            Total:
                        </td>
                        <td style="text-align: left; text-align: center">
                            £ @Model.Total
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>

                break;
            case "usd":
                @foreach (var item in Model.Transactions)
                {
                    if (item.Usd != 0.0)
                    {
                        <tbody class="table-body">
                            <tr>
                                <td class="table-body" style="width: 20%">
                                    @item.Date
                                </td>
                                <td class="table-body" style="width: 20%">
                                    $ @item.Usd
                                </td>
                                <td class="table-body" style="width: 30%">
                                    @item.Description
                                </td>
                                <td class="table-body" style="width: 30%">
                                    <form method="post">
                                        <a class="btn btn-sm btn-small" asp-page="/EditTransactions" asp-route-id="@item.ID">Edit</a>

                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                        <input type="hidden" name="ID" value="@item.ID" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>

                    }
                }
                <tfoot>
                    <tr>
                        <td class="table-border" style="width: 20%">
                            Total:
                        </td>
                        <td style="text-align: left; text-align:center;">
                            $ @Model.Total
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>

                break;


        }
    </table>
</div>
<div class="flex index-flex button-wrap">
    <div class="block button-block">
        <a asp-page="/AddTransactions" asp-route-name="transactions" class="btn">
            <div class="btn-main div-padding btn-big">Add Transaction</div>
        </a>
    </div>
    <div class="block button-block">
        <a asp-page="/Index" class="btn">
            <div class="btn-main div-padding btn-big">Back to Balance</div>
        </a>
    </div>
</div>
