@page "{id}"
@model PersonalAccounting.Pages.EditTransactionsModel
@{
    ViewData["Title"] = "Edit Transactions";
}


<div class="banner banner-small long-text">
    <h1 style="text-align: center">Edit transactions</h1>
</div>
<div class="flex index-flex div-padding transaction-flex">
    <div class="block width-70">
        <form method="post">
            <div class="center">
                <div class="flex">
                    <div class="form-1 form-text-right">
                        <label>Date</label>
                    </div>
                    <div class="form-1">
                        <input type="text" asp-for="CurrentT.Date" placeholder="@Model.CurrentT.Date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex">
                    <div class="form-1 form-text-right">
                        <label>Amount</label>
                    </div>
                    <div class="form-1">
                        <input type="number" asp-for="Amount" placeholder="" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex">
                    <div class="form-1 form-text-right">
                        <label>Description</label>
                    </div>
                    <div class="form-1">
                        <textarea asp-for="CurrentT.Description" rows="1" placeholder="@Model.CurrentT.Description"></textarea>
                    </div>
                </div>
                <div class="flex index-flex">
                    <div>
                        <button class="btn btn-main" type="submit" name="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="block width-30">
        <div class="flex current-balance-flex ">
            <div class="current-balance">
                Pound: £ @Model.GbpTotal
            </div>
            <div class="current-balance">
                Forint: Ft @Model.HufTotal
            </div>
            <div class="current-balance">
                Euro: € @Model.EurTotal
            </div>
            <div class="current-balance">
                Us Dollar: $ @Model.UsdTotal
            </div>
        </div>
    </div>
</div>
<div class="flex index-flex button-wrap">
    <div class="block button-block">
        <a asp-page="/AllTransactions" class="btn">
            <div class="btn-main div-padding btn-big">View Transactions</div>
        </a>
    </div>
    <div class="block button-block">
        <a asp-page="/Index" class="btn">
            <div class="btn-main div-padding btn-big">Back To Balance</div>
        </a>
    </div>
</div>
   
