@page
@model PersonalAccounting.Pages.StocksModel
@{
    ViewData["Title"] = "Stocks";
}


<div class="banner banner-small">
    <h1 style="text-align: center">Stocks</h1>
</div>
<div class="block table-block">
    <table class="center" style="width: 98%">
        <thead>
            <tr>
                <td class="table-border" style="width:15%">
                    Date
                </td>
                <td class="table-border" style="width:10%">
                    Stock Name
                </td>
                <td class="table-border" style="width:10%">
                    Bought for
                </td>
                <td class="table-border" style="width:10%">
                    Sold for
                </td>
                <td class="table-border" style="width:35%">
                    Description
                </td>
                <td class="table-border" style="width:20%">
                    Options
                </td>
            </tr>
        </thead>
        <tbody class="table-body">
            @foreach (var item in Model.Stocks)
            {
                <tr>
                    <td class="table-body" style="width: 15%">
                        @item.Date
                    </td>
                    <td class="table-body" style="width:10%">
                        @item.StockName
                    </td>
                    <td class="table-body" style="width:10%">
                        $ @item.Buy
                    </td>
                    <td class="table-body" style="width:10%">
                        $ @item.Sell
                    </td>
                    <td class="table-body" style="width:35%">
                        @item.Description
                    </td>
                    <td class="table-body" style="width:20%">
                        <form method="post">
                            <a asp-page="/EditStocks" asp-route-id="@item.ID" class="btn btn-sm btn-small">Edit</a>

                            <input type="submit" class="btn btn-danger btn-sm" value="Delete" />
                            <input type="hidden" value="@item.ID" name="ID" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="flex index-flex button-wrap">
    <div class="block button-block">
        <a asp-page="/AddTransactions" asp-route-name="stocks" class="btn">
            <div class="btn-main div-padding btn-big">Add Stocks</div>
        </a>
    </div>
    <div class="block button-block">
        <a asp-page="/Index" class="btn">
            <div class="btn-main div-padding btn-big">Back To Balance</div>
        </a>
    </div>
</div>